<!-- Content area -->
<div class="content d-flex justify-content-center align-items-center">
  <!-- Registration form -->
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="card mb-0">
      <div class="card-body">
        <div class="text-center mb-3">
          <i class="icon-user-plus icon-2x text-success border-success border-3 rounded-round p-3 mb-3 mt-1"></i>
          <h5 class="mb-0">Create account</h5>
        </div>
        <div class="form-group text-center text-muted content-divider">
          <span class="px-2">Your credentials</span>
        </div>
        <div class="form-group form-group-feedback form-group-feedback-left">
          <input type="text" class="form-control" name="user[name]" placeholder="Username">
          <div class="form-control-feedback">
            <i class="icon-user-check text-muted"></i>
          </div>
        </div>
        <div class="form-group form-group-feedback form-group-feedback-left">
          <input type="email" class="form-control" name="user[email]" placeholder="Your email">
          <div class="form-control-feedback">
            <i class="icon-mention text-muted"></i>
          </div>
        </div>
        <div class="form-group form-group-feedback form-group-feedback-left">
          <input type="password" class="form-control" name="user[password]" placeholder="Password">
          <div class="form-control-feedback">
            <i class="icon-user-lock text-muted"></i>
          </div>
        </div>
        <div class="form-group form-group-feedback form-group-feedback-left">
          <input type="password" class="form-control" name="user[password_confirmation]" placeholder="Password confirmation">
          <div class="form-control-feedback">
            <i class="icon-user-lock text-muted"></i>
          </div>
        </div>
        <div class="form-group">
        <button type="submit" class="btn bg-teal-400 btn-block">Register <i class="icon-circle-right2 ml-2"></i></button>
      </div>
        <div class="form-group">
          <div class="text-center">
              <a href="<%= new_session_path(resource_name)%>">Sign in</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <!-- /registration form -->
</div>
<!-- /content area -->